<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <!-- 引入样式 -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->

    <!-- import CSS -->
    <link rel="stylesheet" href="./static/index.css">
    <script type="text/javascript" src="./static/vue.js"></script>
    <script type="text/javascript" src="./static/index.js"></script>
    <script src='./static/httpVueLoader.js'></script>
</head>

<body>
    <!-- <br> -->
    <!-- <h2>软件设置</h2> -->
    <div id="app4">
        <el-row :gutter="10">
            <el-col :span="8">
                <div class="box">
                    <div class="inner" style="height: 120px;">
                        <h3>显示列数</h3>
                        <div>
                            <el-slider v-model="value1" :step="2" :min="2" :max="8" @change="handleChange" show-input>
                            </el-slider>
                        </div>
                    </div>
                </div>
            </el-col>
            <el-col :span="4">
                <div class="box">
                    <span class="demonstration">有默认值</span>
                    <el-color-picker v-model="color" @change="colorChange"></el-color-picker>
                </div>
            </el-col>
            <el-col :span="12">
                <div class="box">
                    <div class="inner" style="height: 120px;">
                        <h3>软件启动大小（重启生效）</H3>
                        <el-radio-group v-model='radio' @change="radioChange">
                            <el-radio :label="1">800*600&#160&#160&#160&#160</el-radio>
                            <el-radio :label="2">1366*768 </el-radio>
                            <el-radio :label="3">1920*1080</el-radio>
                            <el-radio :label="4">2160*1440</el-radio>
                            <el-radio :label="5">FullScreen</el-radio>
                        </el-radio-group>
                    </div>
                </div>
            </el-col>
        </el-row>
    </div>
    <br>
    <div class="box">
        <div id="app5" class="inner">
            <el-row :gutter="10">
                <el-col :span="14">
                    <h3>图标显示方式</h3>
                    <br>
                    <span class="demonstration">图片宽度</span>
                    <el-slider v-model="width" :step="1" :min="100" :max="400" @change="setWidth" show-input>
                    </el-slider>
                    <br>
                    <span class="demonstration">图片高度</span>
                    <el-slider v-model="height" :step="1" :min="100" :max="400" @change="setHeight" show-input>
                    </el-slider>
                    <br>
                    <span class="demonstration">图片显示方式</span>
                    <br>
                    <br>
                    <el-radio-group v-model='radio' @change="radioChange">
                        <el-radio :label="0">Fill</el-radio>
                        <el-radio :label="1">Contain</el-radio>
                        <el-radio :label="2">Cover</el-radio>
                        <el-radio :label="3">None</el-radio>
                        <el-radio :label="4">Scale-down</el-radio>
                    </el-radio-group>
                    <br>
                    <br>
                    <div id="info">
                        <h4>
                            软件名：{{ name }} &nbsp&nbsp&nbsp
                            版本：{{ version }}
                        </h4>
                        We are using Node.js <span id="node-version"></span>,
                        Chromium <span id="chrome-version"></span>,
                        and Electron <span id="electron-version"></span>.
                    </div>
                </el-col>

                <el-col :span="10" style="text-align: center;">
                    <!-- <img id="img" :style="{width: width+'px', height: width+'px'}" :src="img"></img> -->
                    <el-image :style="{width: width+'px', height: height+'px'}" :src="img" :fit="fits[radio]">
                    </el-image>
                </el-col>
            </el-row>
        </div>
    </div>

    <div id="radio">
        <el-radio-group v-model="tabView">
            <el-radio-button label="cp1">cp1</el-radio-button>
            <el-radio-button label="cp2">cp2</el-radio-button>
        </el-radio-group>
        <component v-bind:is="tabView"></component>
        <!-- <cp2></cp2> -->
    </div>
</body>

<script src='./renderer/setting.js'></script>

<style>
    .box {
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
    }

    .inner {
        padding: 10px;
        padding-left: 20px;
    }

    .auto_box {
        padding: 20px;
        height: 400px;
        overflow: auto;
    }

    img:hover {
        filter: alpha(opacity=60);
        -moz-opacity: 0.6;
        opacity: 0.6;
    }
</style>

</html>